<!DOCTYPE html>
<html>
<head>
  <titleDice Roll</title>
</head>

<body>
  <div>
    <div><a href="/">Home</a><div>
    <div><a href="/dice/2/6">2d6</a><div>
    <div><a href="/dice/2/10">2d10</a><div>
    <div><a href="/dice/1/20">1d20</a><div>
    <div><a href="/dice/60/6">60d6</a><div>
  </div>

  <!-- unique code -->
  <%= yield %>
  <!-- /unique code -->
</body>
</html>
